extends layout

block content
    h1= title
    p Welcome to #{title} js
    br       
    - var imageName= ["imag.jpg","imag1.jpg","imag2.jpg","imag3.jpg","imag4.jpg"]            
        -for(let i=0;i<3;i++){
            - let r=Math.floor(Math.random()*5)
                img(src= `/images/${imageName[r]}` alt="image", height="300", width="300")
            -}